.classpath
.project
.settings
bin/
gen/
*.class
local.properties
build.properties
lint.xml
assets/crashlytics-build.properties
res/values/com_crashlytics_export_strings.xml
/proguard/dump.txt
/proguard/seeds.txt
/proguard/usage.txt

proguard/mapping.txt