<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="preferExternal"
	android:versionCode="42" android:versionName="@string/version_name" package="ir.blackgrape.bereshtook">

	<uses-sdk android:targetSdkVersion="19" android:minSdkVersion="8"/>

	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />	

    <uses-permission android:name="com.farsitel.bazaar.permission.PAY_THROUGH_BAZAAR"></uses-permission>
    
	<application android:icon="@drawable/ic_launcher"
		android:name=".BereshtookApplication"
		android:theme="@style/YaximLightTheme"
		android:supportsRtl="true"
		android:label="@string/app_name_fa">

		<activity android:name=".MainWindow" android:label="@string/app_name_fa"
			android:launchMode="standard"
			android:screenOrientation="portrait"
			android:configChanges="orientation|keyboardHidden">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter android:icon="@drawable/ic_launcher" android:label="@string/app_name_fa">
				<action android:name="android.intent.action.SEND"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
				<data android:mimeType="text/*"></data>
			</intent-filter>
			<intent-filter android:icon="@drawable/ic_launcher" android:label="@string/app_name_fa">
				<action android:name="android.intent.action.SENDTO" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:host="jabber" android:scheme="imto" />
			</intent-filter>
		</activity>

		<activity android:name=".chat.ChatWindow" android:label="@string/app_name_fa"
			android:alwaysRetainTaskState="true"
			android:windowSoftInputMode="stateHidden">
		</activity>

		<activity android:name=".preferences.MainPrefs"
			android:label="@string/menu_settings">
		</activity>

		<activity android:name=".preferences.AccountPrefs"
			android:label="@string/account_settings_title">
		</activity>
		
		<activity android:name=".shop.ShopActivity"
		    android:screenOrientation="portrait">
		</activity>
				
		<activity android:name=".game.rps.RPSWindow"
		    android:screenOrientation="portrait">
		</activity>
		
		<activity android:name=".game.ttt.TTTWindow"
		    android:screenOrientation="portrait">
		</activity>
		
		<activity android:name=".game.battleship.BattleshipWindow"
		    android:screenOrientation="portrait">
		</activity>
		
		<activity android:name=".scoreboard.ScoreboardActivity"
		    android:screenOrientation="portrait">
		</activity>		
						
		<receiver android:name=".game.GameBroadcastReceiver">
          <intent-filter>
          <action android:name="ir.blackgrape.bereshtook.NEWGAMEMSG">
          </action>
          </intent-filter>
      	</receiver>

		<service android:name=".service.XMPPService">
			<intent-filter>
				<action android:name="ir.blackgrape.bereshtook.XMPPSERVICE" />
				<action android:name="ir.blackgrape.bereshtook.XMPPSERVICE2" />
			</intent-filter>
		</service>

		<receiver android:name=".service.BereshtookBroadcastReceiver">
			<intent-filter>
				<action android:name="android.intent.action.ACTION_SHUTDOWN" />
				<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
			</intent-filter>
		</receiver>
		

		<provider android:name=".data.ChatProvider"
		    android:exported="false"
			android:authorities="ir.blackgrape.bereshtook.provider.Chats" />
		<provider android:name=".data.RosterProvider"
		    android:exported="false"
			android:authorities="ir.blackgrape.bereshtook.provider.Roster" />

		<activity android:name="de.duenndns.ssl.MemorizingActivity" />
		<meta-data android:name="com.crashlytics.ApiKey" android:value="855d51f66fb9c8dc5b6bbe76d729d407859b7418"/>
	</application>
</manifest>
